
.icon {
  display: inline-block;

  &__afisha {

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

    }
  }

  &__village {

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

    }
  }
}

.logo {
  width: 136px;
  height: 33px;
  display: inline-block;
  vertical-align: top;

  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  @media(max-width: $screen-sm){
    width: 90px;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

  }
}

